.holder {
    .slider-arrows {
        top: 230px;
        opacity: 0.25;
    }
    background: url(../../img/travel/travel-bg.png) bottom (right) no-repeat;
    &.sleep {
        background: url(../../img/sleep/flower.png) bottom (right) no-repeat;
    }
    &__slider {

    }
    &-slider {
        &__head {
            background: top (left) no-repeat;
            
            min-height: 780px;
        }
        &__descr {
            padding: 160px 0 0 132px;
            margin-top: -250px;
            min-height: 320px;
            background: right (center) no-repeat;
            background-size: contain;
            img {
                display: inline-block;
                padding-left: 24px;
            }
        }
        &__subtitle {
            text-align: right;
            padding: 132px 80px 0 0;
        }
        &__btn {
            text-align: center;
        }
        &__info {
            display: flex;
            justify-content: space-around;
            &-item {
                min-height: 200px;
                margin-bottom: 66px;
                position: relative;
            }
            &-subtitle {
                position: absolute;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 8px;
                transform: rotate(-90deg);
                opacity: 0.5;
                top: 95px;
                left: -100px;
                width: 200px;
                height: 0;
                white-space: nowrap;
                text-align: right;
            }
            &-title {
                font-weight: 800;
                font-size: 40px;
                line-height: 36px;
                padding-left: 40px;
                position: relative;
                .holder-pricing__span {
                    position: absolute;
                    right: 0;
                    bottom: -30px;
                    font-weight: 400;
                    font-size: 14px;
                    text-align: right;
                    letter-spacing: 5.25px;
                    opacity: 0.75;
                }
            }
        }
    }
    .descr {
        &__head {
            position: relative;
            padding-right: 310px;
        }
    }
    &__star-list {
        position: absolute;
        right: 0;
        top: -5px;
        li {
            display: inline-block;
            // margin-left: -25px;
            
        }
        img {
            position: static;
            padding-left: 0;
        }
    }
    
}