@import "./base/vars";
@import "./base/libs";
@import "./base/fonts";
@import './base/input';
@import './base/global';


.header {
    position: relative;
    height: 100vh;
    &__title {
        font-weight: 800;
        font-size: 200px;
        line-height: 156px;
        opacity: 0.07;
        max-width: 467px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
    }
    &__arrows {
        position: absolute;
        bottom: 30px;
        left: 210px;
        z-index: 3;
    }
    &__map {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 3;
    }
    &__aside {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        border-right: 1px solid rgba(#fff, .25);
        height: 100vh;
        text-align: center;
    }
    &__date {
        font-weight: 800;
        font-size: 72px;
        line-height: 64px;
        span {
            padding-top: 15px;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 1.4px;
            margin-bottom: 30px;
            display: block;
        }
    }
    &__search {
        padding-top: 15px;
        padding-bottom: 35px;
    }
    &__location {
        display: inline-block;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1.05px;
        position: relative;
        padding-left: 19px;
        text-transform: capitalize;
        &::before {
            content: "";
            position: absolute;
            width: 11px;
            height: 13px;
            background: url(../img/marker.svg);
            left: 0;
            top: 0;
        }
    }
    &__slider {
        &-item {
            height: 100vh;
            background: url(../img/header-bg.jpg) center (center/cover) no-repeat;
            position: relative;
        }
    }
}

.menu {
    padding-top: 40px;
    a {
        span {
            display: block;
            padding-top: 6px;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 3px;
            margin-bottom: 20px;
            text-transform: capitalize;
        }
    }
}

.slider-item {
    &__info {
        position: absolute;
        right: 80px;
        bottom: 116px;
        text-align: right;
    }
    &__info-subtitle {
        margin-bottom: 5px;
    }
    &__info-subtext {
        margin-bottom: 8px;
    }
    &__info-text {
        font-weight: 800;
        font-size: 40px;
        line-height: 46px;
    }
    &__info-title {
        font-weight: 800;
        font-size: 80px;
        line-height: 46px;
        margin-bottom: 48px;
    }
}


.slider-arrows {
    position: absolute;
    top: 40px;
    right: 80px;
    cursor: pointer;
    z-index: 4;
    &__left {
        right: 125px;
    }
}

.slider-dots {
    position: absolute;
    right: 80px;
    bottom: 36px;
    max-width: 920px;
    width: 100%;
    color: #fff;
    .slick-current {
        .dots-box {
            border-top: 4px solid $green;
        }
    }
}

.dots-box {
    height: 28px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 4px solid #ffff;
    padding-top: 6px;
    &__number {
        font-weight: 800;
        font-size: 24px;
        line-height: 34px;
    }
    &__name {
        font-weight: 300;
        line-height: 19px;
        text-transform: capitalize;
    }
}

.line-animation {
    stroke-dashoffset: 600;
    stroke-dasharray: 600;
    animation: animdash 5s infinite 6s;
}

@keyframes animdash {
    to {
        stroke-dashoffset: 0;
    }
}

.surf {
    background: url(../img/surf-bg.svg) top 200px (right / auto) no-repeat;
    &__subtitle {
        text-align: right;
        padding-right: 80px;
        margin-top: -86px;
    }
    &-box {
        background: center (center / cover) no-repeat;
        &__inner {
            min-height: 750px;
            background: rgba($color: #1C2121, $alpha: 0.85);
            position: relative;
            transition: all .5s;
            &:hover {
                background: rgba($color: #1C2121, $alpha: 0.3);
                .surf-box__inner-btn {
                    display: block;
                }
            }
            &-title {
                font-weight: 800;
                font-size: 40px;
                line-height: 36px;
                padding: 72px 0 0 40px;
                width: 140px;
            }
            &-location {
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 8px;
                transform: rotate(-90deg);
                width: 0;
                height: 0;
                position: absolute;
                left: 40px;
                bottom: 80px;
                white-space: nowrap;
                span {
                    font-weight: 100;
                }
            }
            &-btn {
                display: none;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                text-align: center;
            }
        }
    }
}

.slider-map {
    max-width: 1200px;
    min-height: 635px;
    background: url(../img/world-map-dots.png) center (center / cover) no-repeat;
    margin: 0 auto;
    
    .slick-list {
        min-height: 635px;
    }
    .slick-current {
        .map-dots__content {
            display: block;
            width: 285px;
            padding: 28px 31px 0 32px;
            background-color:rgba($color: #0F1010, $alpha: 0.7);
            border-radius: 20px;
            position: absolute;
            bottom: 35px;
            transform: translateX(-50%);
            z-index: 3;
            &::before {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-bottom: 20px solid $green;
                border-left: 12px solid transparent;
                border-right: 12px solid transparent;
                bottom: -21px;
                left: calc(50% - 1px);
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
    }
    .map-dots--1 {
        top: 330px;
        left: 0;
        .map-dots__content {
            transform: translateX(0);
            &::before {
                left: 0;
            }
        }
    }
    .map-dots--2 {
        top: 270px;
        left: 0;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            right: 100px;
            bottom: 25px;
            background: url(../img/mini-marker.png) center (center / cover) no-repeat;
            width: 14px;
            height: 17px;
        }
        .map-dots__content {
            
        }
    }
    .map-dots--3 {
        top: 320px;
        left: 25px;
    }
    .map-dots--4 {
        top: 500px;
        left: -40px;
    }
    .map-dots--5 {
        top: 230px;
        left: -65px;
    }
    .map-dots--6 {
        top: 550px;
        left: -120px;
    }
    .map-dots--7 {
        top: 380px;
        left: -100px;
    }
    .map-dots--8 {
        top: 500px;
        left: 30px;
        .map-dots__content {
            transform: translateX(-262px);
            &::before {
                left: auto;
                right: 0;
            }
        }
    }

}

.map-dots {
    position: relative;
    &__circle {
        width: 23px;
        height: 23px;
        background-color: $green;
        border-radius: 50%;
    }
    &__content {
        display: none;
        &-row {
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;
        }
        &-item {
            text-align: center;
            img {
                margin-bottom: 7px;
            }
        }
        &-number {
            font-weight: 800;
            font-size: 16px;
            line-height: 23px;
        }
        &-name {
            font-weight: 300;
            font-size: 10px;
            line-height: 12px;
        }
        &-title {
            font-weight: 800;
            font-size: 18px;
            line-height: 26px;
            padding-bottom: 8px;
            margin-bottom: 8px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                background-color: $green;
                width: 80px;
                height: 1px;
                bottom: 0;
                left: 0;
            }
        }
        &-subtitle {
            font-size: 16px;
            line-height: 19px;
            text-transform: capitalize;
        }
        &-link {
            padding-top: 4px;
        }
    }
    
}



.surf-slider {
    padding-top: 110px;
    .slider-arrows {
        top: 50px;
        opacity: 0.25;
    }
    /* Каждый четвёртый, который начинается с первого */
    .slick-slide:nth-child(4n + 1) {
        .surf-box {
            margin-top: 32px;
        }
    }
    /* Каждый четвёртый, который начинается с третьего */
    .slick-slide:nth-child(4n + 3) {
        .surf-box {
            margin-top: 89px;
        }
    }
    .slick-current {
        .surf-box__inner-btn {
            display: block;
        }
        .surf-box__inner {
            background: rgba($color: #1C2121, $alpha: 0.3);
        }
    }
}

@import './block/holder';

@import "./base/media";
