@media (max-width: 1440px) {
    .header {
        &__title {
            font-size: 125px;
            line-height: 108px;
            top: 20px;
            left: 60px;
        }
        &__search {
            padding-bottom: 8px;
        }
        &__date {
            font-size: 60px;
            span {
                font-size: 14px;
                padding-top: 0;
                margin-bottom: 5px;
            }
        }
        &__arrows {
            left: 130px;
        }
    }
    .logo {
        img {
            width: 99px;
        }
    }
    .menu {
        padding-top: 10px;
    }
}

@media (max-width: 1366px) {
    .header {
        &__aside {
            height: 108px;
            padding-right: 25px;
            background-color: rgba(#fff, 0.1);
            display: flex;
            text-align: left;
            position: absolute;
            border: none;
        }
        &__search {
            padding: 33px 15px 15px;
        }
        &__date {
            padding: 15px;
        }
        &__location {
            margin-top: 40px;
        }
        &__arrows {
            left: 20px;
            bottom: 20px;
        }
    }
    .slider-item {
        &__info-title {
            font-size: 65px;
            margin-bottom: 90px;
        }
    }
    .menu {
        padding-top: 0;
        &__list {
            text-align: center;
            li {
                display: inline-block;
            }
            a {
                padding: 15px;
            }
        }
    }
}

@media (max-width: 1340px) {
    .header {
        &__map {
            svg {
                width: 500px;
                height: 250px;
            }
        }
    }
    .slider-arrows {
        top: 20px;
        right: 20px;
        &__left {
            right: 60px;
        }
    }
}

@media (max-width: 1080px) {
    .header {
        &__arrows {
            display: none;
        }
        &__search {
            padding-top: 40px;
        }
    }
    .slider-item__info {
        right: 20px;
        bottom: 17px;
        &-text {
            font-size: 30px;
            line-height: 20px;
            margin-bottom: 15px;
        }
    }
    .headline-left {
        font-size: 16px;
        line-height: 18px;
        padding-left: 65px;
        &::before {
            width: 50px;
        }
    }
    .menu-btn {
        display: flex;
    }
    .menu {
        background-color: rgba(#000,1);;
        z-index: 22;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateX(-100%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
        transition: all .5s;
        &.active {
            transform: translateX(0);
        }
    }
    .slider-item__info-title {
        font-size: 55px;
        margin-bottom: 40px;
    }
    .slider-dots {
        right: 0;
        left: 0;
        bottom: 5px;
        margin: 0 auto;
        padding-left: 10px;
    }
    .dots-box {
        width: 120px;
        &__name {
            line-height: 18px;
        }
        &__number {
            font-size: 18px;
        }
    }
}

@media (max-width: 960px) {
    .slider-dots {
        display: none;
    }
}

@media (max-width: 760px) {

}

@media (max-width: 460px) {
    .header {
        &__title {
            display: none;
        }
        &__aside {
            display: block;
            text-align: center;
            padding-right: 0;
            height: 100vh;
            padding-bottom: 20px;

        }
        &__search {
            padding: 15px 0 5px;
        }
        &__date {
            padding: 0;
            font-size: 50px;
            line-height: 50px;
            span {
                font-size: 12px;
            }
        }
        &__location {
            margin-top: 0;
        }
    }
    
}